{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
	<h1>Mon Profil</h1>
	<div class="container d-flex justify-content-center">
		<table>
			<tr class="tr-not-last">
				<th>Nom d'utilisateur</th>
				<td>{{ app.user.username }}</td>
			</tr>
			<tr class="tr-not-last">
				<th>Email</th>
				<td>{{ app.user.email }}</td>
			</tr>
			<tr class="tr-not-last">
				<th>Prénom</th>
				<td>{{ app.user.firstName }}</td>
			</tr>
			<tr class="tr-not-last">
				<th>Nom de famille</th>
				<td>{{ app.user.lastName }}</td>
			</tr>
			<tr>
				<th>Classe</th>
				<td>{{ app.user.classe }}</td>
			</tr>
	</table>
</div>
<div class="container-2 d-flex justify-content-center">
	<a title="modifier profil" href={{ path('app_profile_edit')}} class="btn btn-primary btn-1">Modifier mon profil</a>
	<a title="modifier mot de passe" href={{ path('app_profile_reset_password')}} class="btn btn-primary btn-2">Modifier mon mot de passe</a>
</div>{% endblock %}
