{{ form_start(form) }}
<div class="form-menu">
    <div class="form-group">
        {{ form_label(form.password, 'Mot de passe actuel', {'label_attr': {'class': 'form-label bold-label'}}) }}
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'form-label bold-label'}}) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group f-3">
        {{ form_label(form.plainPassword.second, 'Répeter nouveau mot de passe', {'label_attr': {'class': 'form-label bold-label'}}) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
