{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h2 mb-3 font-weight-normal text-left">Connexion</h1>
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label for="inputUsername" class="form-label">Username</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>

                    <!-- CSRF token input -->
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <!-- Se souvenir de moi checkbox -->
                    <div class="row mb-4">
                        <div class="col d-flex text-left">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="_remember_me" id="form2Example31" checked>
                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                            </div>
                        </div>

                        <div class="col text-right">
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Sign in button -->
                    <button class="btn btn-primary btn-block mb-4" type="submit">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Pas encore membre ? <a href="#!">Inscription</a></p>
                        <p>or sign up with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
