{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %} 

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron-wrapper">
			<div class="jumbotron">
				<div class="title-subtitle">
					<p class="title">RATE MY INTERVENANT</p>
					<p class="subtitle">Un endroit où les étudiants prennent la parole!</p>
				</div>
				{% if app.user %}
					{# Si l'utilisateur est connecté, le bouton "Commencer" l'enverra vers la page d'accueil #}
					<p>
						<a title="commencer" class="btn btn-secondary btn-lg btn-start" href="{{ path('app_blog_index') }}" role="button">Commencer</a>
					</p>
				{% else %}
					{# Si l'utilisateur n'est pas connecté, le bouton "Commencer" l'enverra vers la page d'inscription #}
					<p>
						<a title="commencer" class="btn btn-secondary btn-lg btn-start" href="{{ path('app_register') }}" role="button">Commencer</a>
					</p>
				{% endif %}
				<p>
					<a title="regarder commentaires" class="btn btn-secondary btn-lg btn-comment" href="{{ path('app_review_index') }}" role="button">Regarder les commentaires</a>
				</p>
			</div>
		</div>
	</div>
	<!-- /container -->
{% endblock %}
