{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.classesTaught) }}
    {{ form_widget(form.classesTaught, {'attr': {'class': 'form-control'}}) }}

</div>

<div class="form-group">
    {{ form_label(form.matieresEnseignees) }}
    {{ form_widget(form.matieresEnseignees, {'attr': {'class': 'form-control'}}) }}
</div>
    <button class="btn btn-primary btn-block mb-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
