{% extends 'base.html.twig' %}

{% block title %}Intervenant{% endblock %}

{% block body %}
    <h1>{{ intervenant.name }}</h1>
    <img height="200px" width="200 px" class="img-thumbnail" src = {{ asset("uploads/images/" ~ intervenant.profilePictureFileName) }}>
    <table class="table">
        <tbody>


            <tr>
                <th>Reviews</th>
                <td>
                    <ul>
                        {% for review in intervenant.reviews %}
                            <li>
                                <a href="{{ path('app_review_show', {'id': review.id}) }}">{{ review.content }}</a> Note : {{ review.grade }}
                            </li>
                        {% endfor %}
                    </ul>
            </tr>

        </tbody>
    </table>




{% endblock %}
