{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
    <h1>Toutes les notes des intervenants</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Message</th>
                <th>Note</th>
                <th>Intervenant Concerné</th>
                <th>Matière</th>
                <th>Classe concernée</th>
                <th>Auteur</th>

            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.content }}</td>
                <td>{{ review.grade }}</td>
                <td>{{ review.intervenant.name }}</td>
                <td>{{review.matiere.name}}</td>
                <td>{{ review.author.classe.name }}</td>
                <td>{{ review.author.name }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
