{% extends 'base.html.twig' %}

{% block title %}Toutes les reviews{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/review_index.css') }}">
{% endblock %}
{% block body %}
    <h1 class="text-center mb-5">Toutes les notes des intervenants</h1>

    <section class="py-5">

        <div class="container">
            <!-- Breadcrumb -->
            <div class="container-center">
                <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a title="accueil" href={{path('app_home')}}>Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Toutes les notes</li>
                    </ol>
                </nav>
            </div>
            <!-- /Breadcrumb -->
            <div class="row">
                {% for review in reviews %}
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">Note : {{ review.grade }}/5</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ review.author.name }}</h6>
                                <small>{{ review.createdAt|date('d/m/Y H:i') }}</small>
                                <p class="card-text small mb-3">{{ review.author.classe.name }}</p>
                                <p class="card-text">Intervenant : <a title="intervenant" href="{{ path('app_intervenant_show', {'id': review.intervenant.id}) }}">{{ review.intervenant.name }}</a></p>
                                <p class="card-text">Matière : {{ review.matiere.name }}</p>
                                <p class="card-text" style="font-size: 18px;">{{ review.content }}</p>
                            </div>
                            <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
                                <div>
                                    {% if (app.user) and review.isLikedByUser(app.user) %}
                                        <a title="like" href="{{ path('like_review', {'id': review.id}) }}" class="link-muted me-2"><i class="fas fa-thumbs-up me-1 text-success"></i> {{ review.likes }}</a>
                                    {% else %}
                                        <a title="like" href="{{ path('like_review', {'id': review.id}) }}" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i> {{ review.likes }}</a>
                                    {% endif %}

                                    {# Afficher le pouce vers le bas (dislike) #}
                                    {% if app.user and review.isDislikedByUser(app.user) %}
                                        <a title="dislike" href="{{ path('dislike_review', {'id': review.id}) }}" class="link-muted"><i class="fas fa-thumbs-down me-1 text-danger"></i> {{ review.dislikes }}</a>
                                    {% else %}
                                        <a title="dislike" href="{{ path('dislike_review', {'id': review.id}) }}" class="link-muted"><i class="fas fa-thumbs-down me-1"></i> {{ review.dislikes }}</a>
                                    {% endif %}
                                </div>
                                {# Ajout des boutons Supprimer et Modifier #}
                                {% if is_granted('ROLE_ADMIN') %}
                                    {# Si l'utilisateur est un administrateur, afficher le bouton de suppression #}
                                    <div>
                                        <a href="{{ path('app_review_delete', {'id': review.id}) }}" class="btn btn-danger" title="Supprimer">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                {% elseif is_granted('ROLE_USER') and app.user and review.author and review.author.id == app.user.id %}
                                    {# Si l'utilisateur est connecté, est l'auteur de la review et n'est pas administrateur, afficher les boutons de modification et de suppression #}
                                    <div>
                                        <a href="{{ path('app_review_delete', {'id': review.id}) }}" class="btn btn-danger" title="Supprimer">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a href="{{ path('app_review_edit', {'id': review.id}) }}" class="btn btn-warning" title="Modifier">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}

                {% if reviews is empty%}
                <p class="text-center">Aucune review disponible</p>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="container text-center my-5">
        {% if is_granted('ROLE_USER') %}
            <a title="noter" href="{{ path('app_blog_index') }}" class="btn btn-primary">Noter à mon tour</a>
        {% else %}
            <a title="connecter pour noter" href="{{ path('app_login') }}" class="btn btn-primary">Se connecter pour noter à mon tour</a>
        {% endif %}
    </div>
{% endblock %}
