{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/new_review.css') }}">
{% endblock %}

{% block title %}Poster une Review
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h1>{{ block('title') }}</h1>
				<div class="overall-form">
					<div class="overall-form">
						{{ include('review/_form.html.twig', {'button_label': 'Poster'}) }}
					</div>
					<a title="page intervenant" href="{{ path('app_intervenant_show', {"id":review.intervenant.id}) }}" class="form-group btn btn-secondary mt-4">Retour à l'intervenant</a>
				</div>
			</div>
		</div>
	</div>
	 <script>
										    function updateGradeDisplay(value) {
										        var display = document.getElementById('grade-display');
										        display.textContent = 'Note : ' + value + '/5';
										    }
										</script>
{% endblock %}
