{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}
{% block header %} {% endblock %}
{% block footer %} {% endblock %}
{% block body %}
   <div class="row">
        <div class="col-12">
            <h1>{{ review.grade }}</h1>
            <main>{{ review.content }}</main>
            <small>{{ review.author.name }}</small>
        </div>
   </div>
{% if is_granted('ROLE_ADMIN') %}
    <div class="row">
          <div class="col-12">
                <a href="{{ path('app_review_delete', {'id': review.id}) }}" class="btn btn-danger">Supprimer</a>
          </div>
    </div>
{% endif %}
{# The and not part of the if is so that admins that posted comments don't see the button twice #}
{% if app.user.id == review.author.id and not is_granted('ROLE_ADMIN') %}
    <div class="row">
          <div class="col-12">
                <a href="{{ path('app_review_delete', {'id': review.id}) }}" class="btn btn-danger">Supprimer </a>

          </div>
        <div class="col-12">
            <a href="{{ path('app_review_edit', {'id': review.id}) }}" class="btn btn-warning">Modifier </a>

        </div>
    </div>
        {% endif %}

{% endblock %}
