<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue!
			{% endblock %}
		</title>
		{# Liens vers les fichiers CSS #}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css"/>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>{% block stylesheets %}
		<script src="https://kit.fontawesome.com/5d94f6b61f.js" crossorigin="anonymous"></script>
		<script>
			// Attend que le document soit chargé
			document.addEventListener("DOMContentLoaded", function() {
				// Récupère le bouton du dropdown et son menu
				var dropdownBtn = document.getElementById("adminDropdown");
				var dropdownMenu = document.querySelector(".dropdown-menu");

				// Ajoute un écouteur d'événement pour le clic sur le bouton dropdown
				dropdownBtn.addEventListener("click", function(event) {
					// Empêche le comportement par défaut du lien
					event.preventDefault();
					// Affiche ou cache le menu dropdown en fonction de son état actuel
					if (dropdownMenu.classList.contains("show")) {
						dropdownMenu.classList.remove("show");
					} else {
						dropdownMenu.classList.add("show");
					}
				});

				// Ajoute un écouteur d'événement pour fermer le menu dropdown lorsque l'utilisateur clique à l'extérieur
				document.addEventListener("click", function(event) {
					if (!dropdownBtn.contains(event.target) && !dropdownMenu.contains(event.target)) {
						dropdownMenu.classList.remove("show");
					}
				});
			});
		</script>

		{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('styles/form.css') }}"/>
		{# Ajouter le lien vers le fichier CSS de Bootstrap #}
		<body class="d-flex flex-column min-vh-100">
			<div class="container-fluid my-1">
				<div class="d-flex justify-content-between align-items-center">
					<div class="my-auto">
						<a class="dropdown-item" href="{{ path('app_home') }}">
							<i class="fa-solid fa-house fa-2x"></i>
						</a>
					</div>
					<div class="my-auto">
						<img src="{{ asset('miage.png') }}" alt="Petite image" width="300">
					</div>
					<div class="my-auto">
						<div
							class="dropdown">
							{# Gérer les différentes vues en fonction des rôles de l'utilisateur #}
							{% if is_granted('ROLE_ADMIN') %}
								{# Contenu pour un administrateur #}
								<div class="dropdown">
									<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Admin Menu
									</a>
									<div class="dropdown-menu" aria-labelledby="adminDropdown">
										<div class="d-flex flex-wrap">
											<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
											<a class="dropdown-item" href="{{ path('app_user_index') }}">Liste des utilisateurs</a>
											<a class="dropdown-item" href="{{ path('app_review_index') }}">Liste des reviews</a>
											<a class="dropdown-item" href="{{ path('app_intervenant_index') }}">Liste des intervenants</a>
											<a class="dropdown-item" href="{{ path('app_intervenant_new') }}">Ajouter un intervenant</a>
											<a class="dropdown-item" href="{{ path('app_classe_index') }}">Liste des classes</a>
											<a class="dropdown-item" href="{{ path('app_classe_new') }}">Ajouter une classe</a>
											<a class="dropdown-item" href="{{ path('app_matiere_index') }}">Liste des matières</a>
											<a class="dropdown-item" href="{{ path('app_matiere_new') }}">Ajouter une matière</a>
										</div>
									</div>
								</div>

							{% endif %}

							{% if is_granted('ROLE_USER') %}
								{# Contenu pour un utilisateur authentifié #}
								{% if not is_granted('ROLE_ADMIN') %}
									<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
								{% endif %}
								<a class="dropdown-item" href="{{ path('app_review_new') }}">Poster une review</a>
							{% endif %}
							{% if not app.user() %}
								<div class="my-auto d-flex">
									<a class="dropdown-item" href="{{ path('app_user_new') }}">
										<i class="fa-solid fa-user-plus fa-2x"></i>
									</a>
									<a class="dropdown-item" href="{{ path('app_login') }}">
										<i class="fa-solid fa-right-to-bracket fa-2x"></i>
									</a>
									<!-- Your content here -->
								</div>
								{# Contenu pour un utilisateur non authentifié #}

							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<hr
			class="hrCustom w-100">
			{# Afficher les messages flash #}
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			{% for message in app.flashes('notice') %}
				<div class="alert alert-success" style="background-color: rgba(255,0,0,0.48)">
					{{ message }}
				</div>
			{% endfor %}
			{% block body %}{% endblock %}

			<div
				class="footer mt-auto" style="margin-top: 10px">
				<!-- Copyright -->
				<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
					<p>&copy; 2024 MIAGE CORPORATE. Tous droits réservés.</p>
				</div>
				<!-- Copyright -->
			</div>
		</body>
	</head>
</html>
